.Toolbar{
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #AD7D0E;
  padding: 0px 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav{
  height: 100%;
}

.LogoContainer{
  height: 80%;
}

@media (max-width:499px){
  .DesktopOnly{
    display: none;
  }
}